{% extends 'Clinica/base.html' %}

{% block header %}
<title>Новости</title>
{% endblock header %}

{% block body %}

    <ul style="list-style-type:none;" enctype="multipart/form-data">
        {% for i in posts %}
        <table style="width: 100%;">
            <td style="width:30%;padding-left: 5%;">
                {% if i.photo %}
                    <p><img src="{{ i.photo.url }}" alt="foto_news" style="height:200px;width:300px;border:3px;float:left"></p>
                    <!--address is not valid?-->
                {% endif %}
            </td>
            <td style="width:70%;padding-left: 5%;padding-right: 5%;">
                <h3 >{{i.title}}</h3>
                <p>{{i.description}}</p>
                <p>подробнее</p><!--we mast button paste in page-->
            </td>
        </table>
        <hr>
    {% endfor %}
    </ul>
    {% if page_obj.has_other_pages %} <!--нумерация перелистывания сработает если больше 5ти постов на странице, заданы вo view-->
    <nav align='center' class="#">
        <ul>
            {% if page_obj.has_previos%}
            <li>
                <a href='?page={{ page_obj.previos_page_number }}'> &lt; </a> <!--стрелочка для перелистывания пагинации/постраничной навигации-->
            </li>
            {% endif %}
            {% for p in paginator.page_range %}
            <li>
                <a href="?page={{ p }}">{{ p }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}



{% endblock body %}