body{
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	background-image: linear-gradient(90deg,#33b7e2,#5e62b0,#dc307c);
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
}
.navbar{
	width: 100%;
	height: 70px;
	box-shadow: 0 4px 10px rgba(0,0,0, .1);

}
.navbar .container{
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(33, 37, 41);

}

.navbar-menu{
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;

}
.navbar-menu li{
	display: inline-block;

}
/* меню */
.navbar-menu li a{
	display: inline-block;
	color: #000;
	opacity: 0.6;
	text-decoration: none;
	padding: 10px;
	color: white;
}
/* работает при наведении на меню */
.navbar-menu li a:hover{
	opacity: 1;
	transition: all .07s ease-in-out;

}
.navbar-wrap {
	display: flex;
	flex-flow: row nowrap;
}
/* Лого Репьевская */
.navbar-brand{
	padding-left: 30px;
	font-weight: 700;
	font-size: 26px;
	text-decoration: none;
	color: white;
}
/* footer */
/* This style sets the width of all images to 100%: */
img {
    max-width: 100%;
    height: auto;/* изменение размера с сохранение соотношения сторн */
}
.rb_map{
    background-image: url("../images/map.png");
    background-size: auto;
    width: 1000px;
    height: 320px;
    /*border: solid 2px red;*/
}
